<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WTForms</title>
  </head>
  <body>

    {% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
            <li>
                {{ form[field_name].label}}:{{ error }}
            </li>  
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST">
      {% for field in form %}
        {{ field.label }}<br>
        {{ field(class='input-name') }}<br><br>
      {% endfor %}
    </form>
  </body>
</html>
